#about-me-page{
    position: absolute;
    top: 110%;
    height: 200%;
    width: 100%;
    /* background-color: rgb(0, 6, 37); */
    z-index: 1;
}
.about-me{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: none;
    
    /* background-color: #8C43FF; */
}
#intro{
    position: absolute;
    top: -7%;
    right: -20%;
    width: auto;
    height: 50%;
    padding: 20px;
    padding-right: 22%;
    padding-left: 10%;
    border-radius: 800px;
    background-color: #888888;
    text-align: right;
    color: white;
    font-size: 150%;
    z-index: 2;
  overflow: hidden;
}
/* Heading for Who am I? */
.about-heading{
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-align: center;
    margin: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.about-heading:after {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    bottom: -10px;
    content: "";
    border-radius: 800px;
    display: block;
    height: 10px;
    position: relative;
    left: 38.5%;
    width: 22%;
}

#intro-statement{
    margin: 0;
}
.what-i-do{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 153, 0);
}
/* Astronaut */
.astro{
    position: absolute;
}

.astro.head{

}

