@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
#about-me-page{
    position: absolute;
    top: 110%;
    height: 200%;
    width: 100%;
    /* background-color: rgb(0, 6, 37); */
    z-index: 1;
}
.about-me{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: none;
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #8C43FF; */
}
#intro{
    position: absolute;
    top: 7%;
    right: -20%;
    width: 25%;
    height: 18%;
    /* padding: 20px; */
    padding-right: 22%;
    /* padding-left: 10%; */
    /* padding-bottom: 50px; */
    border-radius: 800px;
    background-color: var(--moon-color);
    text-align: justify;
    color: black;
    font-size: 150%;
    overflow: hidden;
}
#intro:hover{
    cursor: pointer;
}
.crater{
    position: absolute;
    border-radius: 50%;
    background-color: #d6d8b9;
    box-shadow: inset 2vh 1vh rgba(0,0,0,0.2), 1vh 0vh rgba(196,207,207);
    z-index: 1;
}

.crater.cr1{
    top: 4%;
    left: 18%;
    height: 15vh;
    width: 15vh;
}

.crater.cr2{
    top: 40%;
    right: 92%;
    height: 10vh;
    width: 10vh;
}
/* Heading for Who am I? */
.about-heading{
    color: black;
    font-size: 75px;
    text-align: center;
    margin: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.about-heading:after {
    background: none repeat scroll 0 0 black;
    bottom: -10px;
    content: "";
    border-radius: 800px;
    display: block;
    height: 10px;
    position: relative;
    left: 38.5%;
    width: 22%;
}
.about-text{
    visibility: hidden;
}

#intro-statement{
    margin: 0;

}
.what-i-do{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: none;
}


