/* Astronaut */
.astronaut{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 40vh;

    /* background-color: rgba(256, 256, 246, 0.4); */
}

.one{
    left: 80%;
    top: 95%;
    z-index: 1;
}

    .astronaut .head{
        position: absolute;
        left: 50%;
        top: 16.25%;
        transform: translate(-50%, -50%);
        width: 35%;
        height: 32.5%;
        background-color: #FFFDFF;
        z-index: 2;
        border-radius: 100px 100px 90px 90px;    
        /* Change this to scale */
    }

        .astronaut .head .antena-left{
            position: absolute;
            width: 7.142%;
            height: 15.364%;
            left: -2.307%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: #ABA7AA;
            /* Change this to scale */
            border-radius: 60px 0px 0px 60px;
        }

        .astronaut .head .antena-right{
            position: absolute;
            width: 7.142%;
            height: 15.38%;
            right: -9.285%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color: #ABA7AA;
            /* Change this to scale */
            border-radius: 0px 60px 60px 0px;
        }

        .astronaut .head .visor {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 85%;
            width: 85%;
            background-color: #1AADC9;
            z-index: 2;
            /* Change this to scale */
            box-shadow: inset -15px -15px 0px 0px rgba(256,256,246, 0.2);
            border-radius: 100px 100px 90px 90px;
        }
            .astronaut .head .visor .glare{
                position: absolute;
                top: 31.67%;
                left: 12.6%;
                width: 16%;
                height: 18%;
                border-radius: 100%;
                background-color: rgba(255, 251, 251, 0.274);
            }

    .astronaut .neck{
        position: absolute;
        left: 50%;
        top: 32.5%;
        transform: translate(-50%, -50%);
        width: 23%;
        height: 8%;
        background-color: #ABA7AA;
        z-index: 1;
        border-radius: 0 0 100% 100%;
    }

    .astronaut .body{
        position: absolute;
        top: 32.5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 30%;
        height: 45%;
        background-color: #FFFDFF;
    }

        .astronaut .body .left-arm{
            animation: wavingArm 2s ease-in-out infinite;
            transform-origin: right center;
            position: absolute;
            width: 104%;
            height: 55.5%;
            left: -104.1%;
            top: -18.8%;
        }

            .astronaut .body .left-arm .left-arm-one{
                background-color: #FFFDFF;
                width: 68%;
                height: 35%;
                position: absolute;
                left: 44%;
                top: 34%;
                /* change this to scale */
                border-radius: 40px;
            }

            .astronaut .body .left-arm .left-arm-two{
               
                background-color: #FFFDFF;
                width: 72%;
                height: 35%;
                position: absolute;
                top: 18%;
                transform: rotate(35deg);
                /* change this to scale */
                border-radius: 40px;
            }
            @keyframes wavingArm {
                0% { 
                    transform: rotate(5deg) translate(0px);
                }
                50% { 
                    transform: rotate(30deg) translate(0px);
                }
                100% { 
                    transform: rotate(5deg) translate(0px);
                }
            }
                .astronaut .body .left-arm .left-arm-two .hoop {
                    border-radius: 0;
                    background-color:  #1AADC9;
                    width: 8%;
                    height: 100%;
                    position: absolute;
                    left: 27%
                }

        .astronaut .body .right-arm{
            background-color: #FFFDFF;
            width: 29%;
            height: 88.9%;
            position: absolute;
            right: -29%;
            /* change this to scale */
            border-radius: 0 40px 40px 0;
        }

            .astronaut .body .right-arm .shadow{
                background-color: rgba(0,0,0, 0.1);
                width: 14.3%;
                height: 78.7%;
                position: absolute;
                border-radius: 0;
                top: 21.9%;
                left: 0;
            }

            .astronaut .body .right-arm .hoop{
                border-radius: 0;
                background-color:  #1AADC9;
                width: 100%;
                height: 5%;
                position: absolute;
                top: 75%;
                left: 0;
            }
            
        .astronaut .body .panel{
            position: absolute;
            width: 58.3%;
            height: 20%;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #D1D1D1;
            /* change this to scale */
            border-radius: 10px;
        }

            .astronaut .body .panel .dot{
                position: absolute;
                width: 21%;
                height: 42.8%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 100%;
                margin: 0;
            }

            .astronaut .body .panel .dot1{
                left: 20%;
                background-color: #4775ff;
            }

            .astronaut .body .panel .dot2{
                left: 50%;
                background-color: #ffd147;
            }

            .astronaut .body .panel .dot3{
                left: 80%;
                background-color: tomato;
            }

        .astronaut .body .belt{
            position: absolute;
            top: 77.7%;/*120 - 180*/
            left: 0;
            right: 0;
            height: 5.5%;
        }

            .astronaut .body .belt .loop1{
                height: 100%;
                width: 26.6%;
                background-color: #1AADC9;
                position: absolute;
                left: 0;
            }

            .astronaut .body .belt .loop2{
                height: 100%;
                width: 26.6%;
                background-color: #1AADC9;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .astronaut .body .belt .loop3{
                height: 100%;
                width: 26.6%;
                background-color: #1AADC9;
                position: absolute;
                right: 0;
            }

    .astronaut .backpack{
        position: absolute;
        width: 35%;
        height: 45%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #C3C3C3;
        z-index: -1;
        /* Change this to scale */        
        box-shadow: inset 0 16px 0 0px #FFFDFF;
        border-radius: 10px;
    }

    .astronaut .legs{
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 30%;
        height: 25%;
        /* background-color: rgba(255, 255, 255, 0.527); */
    }

        .astronaut .legs .thigh-gap{
            position: absolute;
            top: -5%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 8%;
            height: 105%;
            background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0));
            z-index: 1;
            /* Change this to scale */  
            border-radius: 40px 40px 0 0;
        }

        .astronaut .legs .left-leg{
            position: absolute;
            width: 46%;
            height: 100%;
            background-color: #FFFDFF;
        }
            .astronaut .legs .left-leg .left-boot{
                position: absolute;
                bottom: -10%;
                left: -10%;
                width: 115%;
                height: 35%;
                background-color: #FFFDFF;
                /* Change this to scale */  
                box-shadow: 0 -4px 0px 0px rgba(0,0,0, 0.1);
                border-radius: 40px 40px 0 0;
                border-bottom: 5px dashed grey;
            }

        .astronaut .legs .right-leg{
            position: absolute;
            right: 0;
            width: 46%;
            height: 100%;
            background-color: #FFFDFF;
        }

            .astronaut .legs .right-leg .right-boot{
                position: absolute;
                bottom: -10%;
                right: -10%;
                width: 115%;
                height: 35%;
                background-color: #FFFDFF;
                /* Change this to scale */
                box-shadow: 0 -4px 0px 0px rgba(0,0,0, 0.1);
                border-radius: 40px 40px 0 0;
                border-bottom: 5px dashed grey;
            }



