/*planet styling*/

/*PLNAET NUMBER ONE*/
#circle{
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s; 
}

#circle:hover{ 
    background-color: lime;
}

.planet{
    top: 7%;
    position: absolute;
    left: -60px;
    width: 150px;
    height: 150px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
    border:10px solid grey;
    animation: shake 5s 1s infinite;  
}

@keyframes shake {
    10%, 50%, 70% {
        width: 145px;
        height: 145px;
    }
  
    20%, 60% {
        width: 155px;
        height: 155px;
    }
}

.Layer_1{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    margin: 0;
    height: 30%;
    width: 30%; 
}
/* END OF PLANE NUMBER ONE */

/* PLANET NUMBER TWO */
#planet_git{
    left: -200px;
    top: 26%;
    width: 100px;
    height: 100px;
    animation: none;
}