:root {
  --earth-water-color: #2276bc;
  --earth-land-color: #65c547;
  --earth-cloud-color: #FFF;
}
/* mars */
.mars {
  position: absolute;
  top: 20%;
  left: 85%;
  z-index: 0;
}
  .mars .planet {
  box-sizing: border-box;
  position: absolute;
  border-radius: 100%;
  height: 35vh;
  width: 35vh;
  overflow: hidden;
  margin-left: -10.5vh;
  margin-top: -10.5vh;
  z-index: 2;
}
  .mars .planet .surface {
  position: absolute;
  border-radius: 100%;
  height: 140%;
  width: 140%;
  top: -30%;
  right: -10%;
  box-sizing: border-box;
  border: 8.75vh solid rgba(0, 0, 0, 0.15);
  background: #ff5f40;
}
  .mars .planet .crater1,
  .mars .planet .crater2,
  .mars .planet .crater3   {
  position: absolute;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0.525vh 0.525vh 0 rgba(0, 0, 0, 0.2);
}
  .mars .planet .crater1 {
  height: 16%;
  width: 16%;
  top: 32%;
  left: 17%;
}
  .mars .planet .crater2 {
  height: 8%;
  width: 8%;
  top: 26%;
  left: 55%;
  box-shadow: inset 0.35vh 0.35vh 0 rgba(0, 0, 0, 0.2);
}
  .mars .planet .crater3 {
  height: 8%;
  width: 8%;
  top: 60%;
  left: 40%;
  box-shadow: inset 0.35vh 0.35vh 0 rgba(0, 0, 0, 0.2);
}

/* earth */

.earth{
  position: absolute;
  bottom: -20%;
  left: -10%;
  /* left: 10%; */
  width: 90vh;
  height: 90vh;
  border-radius: 100%;
  z-index: 2;
  overflow: hidden;
  margin-left: -60px;
  margin-top: -60px;    
  background-color: var(--earth-water-color);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: rotate(15deg);
}

.earth:after {
  content: '';
  position: absolute;
  height: 90vh;
  width: 90vh;
  border-radius: 50%;
  box-shadow: inset -22.5vh -11.5vh  rgba(0,0,0,0.2);
}


.shine {
  position: absolute;
  background-color: transparent;
  width: 45vh;
  height: 45vh;
  border: 9vh solid #FFF;
  border-radius: 50%;
  border-top: solid 9vh transparent;
  border-right: solid 9vh transparent;
  border-bottom: solid 9vh transparent; 
  transform: rotate(45deg);
  opacity: .3;
  /* left: 10%; */
  left: -10%;
  top: 38%;
  z-index: 12;
}

.shine:after {
  content: '';
  position: absolute;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 9.9vh -1.35vh 0px #FFF, 9.45vh 36.9vh 0px #FFF;
  left: -10.8vh;
}


.land{
  position: absolute;
  background-color: var(--earth-land-color);
  border-radius: 8000px;
}
  
.land.one{
    bottom: 15%;
    left: 20%;
    height: 20vh;
    width: 30vh;
}

.land.two{
    bottom: 30%;
    left: 65%;
    height: 25vh;
    width: 40vh;
}

.land.three{
    bottom: 83%;
    left: 39%;
    height: 8vh;
    width: 10vh;
}

.land.four{
    bottom: 55%;
    left: -10%;
    height: 26vh;
    width: 40vh;
}

.land.five{
    bottom: 65%;
    left: 80%;
    height: 18vh;
    width: 30vh;
}

.land.six{
    bottom: 40%;
    left: 5%;
    height: 5vh;
    width: 10vh;
}

/* Clouds for earth */
.cloud {
  position: absolute;
  background-color: var(--earth-cloud-color);
  border-radius: 200px;
  box-shadow: 0 0.9vh 1.8vh 0 rgba(0,0,0,0.10);
  
}

.cloud.c1, .cloud.c2, .cloud.c3 {
  height: 8vh;
  width: 20vh;
}

.cloud.c1{
  top: 50%;
  left: 60%;
}

.cloud.c2{
  top: 30%;
  left: 20%;
}
 
.cloud.c3{
  top: 20%;
  left: 0%;
}

.cloud.c4{
  height: 10vh;
  width: 40vh;
  top: 95%;
  left: 30%;
}

.cloud.c5{
  height: 10vh;
  width: 40vh;
  top: -5%;
  left: 30%;
}