
/* MARs */
.mars {
    position: absolute;
    top: 20%;
    left: 85%;
   z-index: 0;
  }
   .mars .planet {
    box-sizing: border-box;
    position: absolute;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 2;
  }
   .mars .planet .surface {
    position: absolute;
    border-radius: 100%;
    height: 140%;
    width: 140%;
    top: -30%;
    right: -10%;
    box-sizing: border-box;
    border: 50px solid rgba(0, 0, 0, 0.15);
    background: #ff5f40;
  }
   .mars .planet .crater1,
   .mars .planet .crater2,
   .mars .planet .crater3   {
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
   .mars .planet .crater1 {
    height: 16%;
    width: 16%;
    top: 32%;
    left: 17%;
  }
   .mars .planet .crater2 {
    height: 8%;
    width: 8%;
    top: 26%;
    left: 55%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
   .mars .planet .crater3 {
    height: 8%;
    width: 8%;
    top: 60%;
    left: 40%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* earth */
  
  .earth{
    position: absolute;
    bottom: -20%;
    left: -10%;
    /* left: 10%; */
    width: 90vh;
    height: 90vh;
    border-radius: 100%;
    z-index: 2;
    overflow: hidden;
    margin-left: -60px;
    margin-top: -60px;    
    background-color: var(--earth-water-color);
    /* -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: rotate(15deg); */
  }
  
  .earth:after {
    content: '';
    position: absolute;
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    box-shadow: inset -22.5vh -11.5vh  rgba(0,0,0,0.2);
  }
  
  
  .shine {
    position: absolute;
    background-color: transparent;
    width: 45vh;
    height: 45vh;
    border: 9vh solid #FFF;
    border-radius: 50%;
    border-top: solid 9vh transparent;
    border-right: solid 9vh transparent;
    border-bottom: solid 9vh transparent; 
    transform: rotate(45deg);
    opacity: .3;
    /* left: 10%; */
    left: -10%;
    top: 38%;
    z-index: 12;
  }
  
  .shine::after {
   content: '';
   position: absolute;
   height: 9vh;
   width: 9vh;
   border-radius: 50%;
   background-color: transparent;
   box-shadow: 9.9vh -1.35vh 0px #FFF, 9.45vh 36.9vh 0px #FFF;
   left: -10.8vh;
  }
  
  
  .land{
    position: absolute;
    background-color: var(--earth-land-color);
    border-radius: 8000px;
  }
  
  .land.one{
    bottom: 10%;
    left: 66%;
    height: 10vh;
    width: 30vh;
  }
  