
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.main-contianer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  max-width: 1920px;
}

html, body {
    background-color: black;
    margin: 0; 
    font-weight: 300;
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}
#main-background{
  position: absolute;
  width: 100%;
  height: 320%;
  background-image: linear-gradient(
    to top left,  
  rgb(59, 46, 109), rgb(38, 32, 65), rgb(0, 15, 48), rgb(0, 15, 48), rgb(0, 15, 48),  #041527 ,  #041527,  #041527
  );
  z-index: -5;
}

#main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  max-width: 1920px;
}


#hamburger{
  width: 50px;
  fill: white;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}
#hamburger:hover{
  cursor: pointer;
}
/*Space style*/
#space{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: inherit;
  z-index: -5;

}

/*pulsating stars*/
.pulse {
    position: absolute;
    margin:0;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #cca92c;
    /* cursor: pointer; */
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
    /*animation for width*/
    -webkit-transition: width 4s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 4s, height 4s;
}
  
.pulse:hover {
    animation: none;
}
  
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(226, 226, 226, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(226, 226, 226, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(226, 226, 226, 0);
    }
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(226, 226, 226, 0.4);
      box-shadow: 0 0 0 0 rgba(226, 226, 226, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(226, 226, 226, 0);
        box-shadow: 0 0 0 10px rgba(226, 226, 226, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(226, 226, 226, 0);
        box-shadow: 0 0 0 0 rgba(226, 226, 226, 0);
    }
}

/*shooting star animation*/
@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

body{
  background:black;
}

.p{
  position: absolute;;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:absolute;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}
#p-1{
  animation-duration:10s;
  top: 10%;
}
#p-2{
  animation-duration:5s;
  top:50%;
}
#p-3{
  animation-duration:20s;
  top:90%;
}

/* SCROLL STYLING */
#scroll-section{
  visibility: hidden;
  position: absolute;
  bottom: 2%;
  left: 50%;
  color: #fff;
}

#scroll-text{
  margin-left: -25px;
  margin-top: 35px;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}

#scroll {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



/* temp */
.landing-text{
  top: 33%;
  position: absolute;
  width: 105vh;
  height: auto;
}

/* qutote */
.sologan{
  font-size: 300%;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 70px;
}

.name-heading{
  text-align: center;
  color:white;
  font-size: 600%;
  z-index: 3;
  margin: 0;
}

.name-heading h1{
  margin: 20px;
}

.first-name{
  position: relative;
  bottom: -45px;
  margin-left: -95px;  
}
.last-name{
  margin-left: 190px;
}