
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {
    background-color: black;
    margin: 0; 
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 100%;
    font-family: 'Anonymous Pro', monospace; 
    max-width: 100%;
    overflow-x: hidden;

}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}
#main-background{
  position: absolute;
  width: 100%;
  height: 220%;
  background-image: linear-gradient(
    to top left,  
  rgb(59, 46, 109), rgb(38, 32, 65), rgb(2, 34, 68), rgb(1, 24, 49)
  );
}
#main{
  position: absolute;
  width: 100%;
  height: 100%;
}

/*Space style*/
#space{
    position: absolute;
    margin: 0;
    height: 99%;
    width: 99%;
}

/*pulsating stars*/
.pulse {
    position: absolute;
    margin:0;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #cca92c;
    /* cursor: pointer; */
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
    /*animation for width*/
    -webkit-transition: width 4s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 4s, height 4s;
}
  
.pulse:hover {
    animation: none;
}
  
@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

/*shooting star animation*/
@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

body{
  background:black;
}

.p{
  position: absolute;;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:absolute;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}
#p-1{
  animation-duration:10s;
  top: 10%;
}
#p-2{
  animation-duration:5s;
  top:50%;
}
#p-3{
  animation-duration:20s;
  top:90%;
}

/* SCROLL STYLING */
#scroll-section{
  visibility: hidden;
  position: absolute;
  bottom: 2%;
  left: 50%;
  color: #fff;
}

#scroll-text{
  margin-left: -25px;
  margin-top: 35px;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}

#scroll {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/* qutote */
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v8/XLYgIZbkc4JPUL5CVArUVL0ntnAOTQ.ttf) format('truetype');
}
.quote{
  margin-left: 10%;
  margin-top: 5%;
  font-family: 'Special Elite', cursive;
	color: #fffdf5;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
}
blockquote {
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}
blockquote:before,
blockquote:after {
  position: absolute;
  color: #dddbd2;
  font-size: 8.5rem;
  width: 4rem;
  height: 4rem;
}
blockquote:before {
  content: '“';
  left: -5rem;
  top: -2rem;
}
blockquote:after {
  content: '”';
  right: -5rem;
  bottom: 1rem;
}

/* temp */
.landing-text{
  position: absolute;
  width: 105vh;
  height: 70vh;
}

.name-heading{
  text-align: center;
  color: rgb(255, 251, 251);
}

.first-name{
  position: relative;
  font-size: 300%;
  margin-left: -95px;  
}
.last-name{
  font-size: 300%;
  margin-left: 100px;
}