/* Heading Style */
.welcome{
    color: white;
    font : normal 400 3em 'Montserrat', sans-serif;
}

#welcome-heading{
    margin: auto;
    text-align: center;
    background-color: black;
    background-image: linear-gradient(to bottom left, #EC9F05, #FF4E00);
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#temp-name{
    position: absolute;
    margin: auto;
    display: block;
}

/* Temp stuff */
